In [123]:
import pandas as pd

In [124]:
train_data = pd.read_csv( '../data/kaggle_house_pred_train.csv')
test_data  = pd.read_csv( '../data/kaggle_house_pred_test.csv' )

In [125]:
all_features = pd.concat( (train_data.iloc[: , 1:-1] , test_data.iloc[ : , 1: ]) )

## **索引在loc和iloc的区别**

In [126]:
train_data[:2]#可以看出直接索引是可行的，并且不包含索引的元素

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [127]:
train_data.loc[:,'Id':'MSSubClass'] #如果使用标签就包含标签那个元素
# train_data['a':'b']

        Id  MSSubClass
0        1          60
1        2          20
2        3          60
3        4          70
4        5          60
...    ...         ...
1455  1456          60
1456  1457          20
1457  1458          70
1458  1459          20
1459  1460          20

[1460 rows x 2 columns]

In [128]:
train_data.loc[:, 'MSSubClass':'LotFrontage']#显然loc是包含最后一个索引的元素

      MSSubClass MSZoning  LotFrontage
0             60       RL         65.0
1             20       RL         80.0
2             60       RL         68.0
3             70       RL         60.0
4             60       RL         84.0
...          ...      ...          ...
1455          60       RL         62.0
1456          20       RL         85.0
1457          70       RL         66.0
1458          20       RL         68.0
1459          20       RL         75.0

[1460 rows x 3 columns]

In [129]:
train_data.iloc[:, 1:3]#iloc的索引是不包含索引的元素

      MSSubClass MSZoning
0             60       RL
1             20       RL
2             60       RL
3             70       RL
4             60       RL
...          ...      ...
1455          60       RL
1456          20       RL
1457          70       RL
1458          20       RL
1459          20       RL

[1460 rows x 2 columns]

## **all_features.dtypes[all_features.dtypes != 'object'].index**

In [130]:
[all_features.dtypes != 'object']

[MSSubClass        True
 MSZoning         False
 LotFrontage       True
 LotArea           True
 Street           False
                  ...
 MiscVal           True
 MoSold            True
 YrSold            True
 SaleType         False
 SaleCondition    False
 Length: 79, dtype: bool]

In [131]:
all_features.dtypes#我们发现如果说不是数值类型的变量基本都为object类型，那么只要我们将
                   #这些类型的索引找到，将这些数值类型取出来进行标准化 
                   #另外，这里返回的是pandas.Series类型

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 79, dtype: object

In [132]:
all_features.dtypes.index #我们现在的任务就是要将全部数值型的索引取出来

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition'],
      dtype='object')

In [133]:
all_features.dtypes['MSSubClass']#这与loc和iloc的用法很像

dtype('int64')

In [134]:
# [all_features.loc[:,['Alley']].dtypes = object]#显然NaN变量是 object类型

In [135]:
all_features.dtypes[all_features.dtypes != object ].index#这里注意到这样提取时，一旦一个标签的元素中出现NaN数据，就不会将该标签设为

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold'],
      dtype='object')

## **train_data.SalePrice.values**

In [136]:
Numbelindex = all_features.dtypes[ all_features.dtypes != object ].index #返回的是数值型的标签所在的索引组成的列表
all_features[ Numbelindex ] = all_features[ Numbelindex ].apply( lambda X : ( X - X.mean() ) / (X.std()) )
#通过对全部特征值中的数值型特征进行提取，然后将这些变量进行归一化处理
# all_features[ Numbelindex ] = all_features[ Numbelindex ].fillna( 0 )

In [137]:
all_features[Numbelindex]

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,0.067320,-0.184443,-0.217841,0.646073,-0.507197,1.046078,0.896679,0.523038,0.580708,-0.29303,...,0.348780,-0.740634,0.199972,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,-1.551918,0.157619
1,-0.873466,0.458096,-0.072032,-0.063174,2.187904,0.154737,-0.395536,-0.569893,1.177709,-0.29303,...,-0.059772,1.614603,-0.702722,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,-0.446848,-0.602858
2,0.067320,-0.055935,0.137173,0.646073,-0.507197,0.980053,0.848819,0.333448,0.097840,-0.29303,...,0.627338,-0.740634,-0.081195,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,1.026577,0.157619
3,0.302516,-0.398622,-0.078371,0.646073,-0.507197,-1.859033,-0.682695,-0.569893,-0.494771,-0.29303,...,0.785188,-0.740634,-0.184783,3.874303,-0.103313,-0.285886,-0.063139,-0.089577,-1.551918,-1.363335
4,0.067320,0.629439,0.518814,1.355319,-0.507197,0.947040,0.753100,1.381770,0.468770,-0.29303,...,1.685860,0.776834,0.540332,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,2.131647,0.157619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2.419286,-2.069222,-1.043758,-1.481667,1.289537,-0.043338,-0.682695,-0.569893,-0.968860,-0.29303,...,-2.195385,-0.740634,-0.702722,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,-0.078492,-1.363335
1455,2.419286,-2.069222,-1.049083,-1.481667,-0.507197,-0.043338,-0.682695,-0.569893,-0.415757,-0.29303,...,-0.867591,-0.740634,-0.347564,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,-0.815205,-1.363335
1456,-0.873466,3.884968,1.246594,-0.772420,1.289537,-0.373465,0.561660,-0.569893,1.717643,-0.29303,...,0.478774,3.005615,-0.702722,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,1.026577,-1.363335
1457,0.655311,-0.312950,0.034599,-0.772420,-0.507197,0.682939,0.370221,-0.569893,-0.229194,-0.29303,...,-2.195385,-0.108355,-0.229178,-0.359539,-0.103313,-0.285886,-0.063139,1.144116,0.289865,-1.363335
1458,0.067320,0.201080,-0.068608,0.646073,-0.507197,0.715952,0.465941,-0.045732,0.694840,-0.29303,...,0.822329,0.761027,0.007594,-0.359539,-0.103313,-0.285886,-0.063139,-0.089577,1.763290,-1.363335